.product-item-description {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
}

.card-header {
  text-align: center;
}

.card-header-text {
  margin: auto;
}

.pricing-card-title {
  margin: auto;
}

.product-item-likes-badge-wrapper {
  margin: auto;
  margin-right: 0;
  padding-right: 10px;
  position: relative;
}

.product-item-likes-badge {
  position: absolute;
}
